body{
	font-family: Helvetica;
}



.container-fluid{
	width: auto;
}

.imgb {
	
	height: 45px; 
}

.container-fluid {
	margin-top: -40px;
}

.btn {
	margin-left: -20px;
}

.accordion-heading {
	border-radius: 5px;
	width: 100%;
}

.divTit{
	
	margin-bottom: 15px;
	margin-top: 30px;
	background-color: #E1DFDF;
	border-radius: 5px;
}

.abajoA {
	background-color: #C3E4F1;
	border-radius: 5px;
	height: 40px;
	font-weight: bolder;
}

.abajo {
	background-color: white;
	border-radius: 5px;
}

#accordionS, #accordionP, #accordionSP, #accordionF {
	padding-top: 20px;
}

.bandera > td{
	width:auto;
	text-align:center;
}

.bold{
	font-weight: bold;
	color: #08C;
	margin-bottom: -3px;
}

.pad{
	padding-left: 10px;
}

.pad h3{
	margin-bottom: -5px;
}

a, a:hover {
	text-decoration: none;
	color: black;
}

.accordion-group{
	margin-bottom: 15px;
}

#accordionF .activo{
	background-color: #C3E4F1;
}

#accordionF .inactivo{
	background-color: white;
}

.busquedainpt{
	margin: 5px -5px 5px 5px;
	float: right;
	width: 100px
}

.busquedaul{
	position: absolute;
	width: 213px;
	top: 55px;
	right: 60px;
	z-index: 2;
}

.busquedaul li{
	list-style: none;
	border: solid;
	border-width: thin;
	width: 215px;
	background-color: white;
}

.btnbusq{
	float:right; 
	margin: 5px 5px auto;
}

.span11 .btnbusq{
	float:right; 
	margin: 0px 5px auto;
}

.span11 .busquedainpt{
	margin: 0px -5px 5px 5px;
	float: right;
}

/*.span11 .busquedaul{
	z-index: 2;
	position: absolute;
	width: 213px;
	right: 140px;
	top: 50px;
}*/

.dale{
	position: relative;
	right: -2%;
	margin-top: -20px;
}